/*
kombugreen #3c493f
xanadu 7E8d85
ash Grey b3bfb8
Mint cream f0f7f4
magic mint A2E3C4
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #f0f7f4;
}

.navbar {
    background-color: #7AB189;
}

.navbar a {
    color: black !important;
}

.container {
    padding: 0;
}

.modal-lg {
    max-width: 30%;
}

#container .btn {
    width: 10rem;
    color: #3c493f;
    border-color: #3c493f;
}


#container .btn:hover {
    color: #7AB189;
    background-color: #7AB189;
    border-color: #3c493f;
}

.d-flex .btn {
    color: #7AB189;
    width: 10rem;
}


#regions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

#container {
    display: inline;
    column-count: 3;
}

.submit-btn {
    position: relative;
    margin-top: 5rem;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.img-thumbnail {
    width: 10rem;
}

.trailImage {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.fa {
    position: relative;
}

.fa .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Roboto', sans-serif;
}

.fa .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.fa:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.submit-btn {
    background-color: #3c493f !important;
}

.trailInfo {
    width: 65%;
    float: left;
}

.infoH4 {
    margin-bottom: 1rem;
}

.infoH5 {
    font-weight: bold;
    margin-top: 0.8rem;
}

.trailPicture {
    width: 35%;
    float: left;
}

.trailImg {
    width: 100%;
}

.trailLocation {
    margin-top: 1.5rem;
}

.loginErrorMsg {
    color: red;
}


.modal-content{
    background-color: #343a40!important;
}

.modal-footer{
    text-decoration: none;
}


.modal-content{
    color: #f0f7f4 !important;
}

.btn-link {
    text-decoration: none !important;
    color: black !important;
}

.profile-change-flex {
    display: flex;
}

.profile-h4 {
    margin: 0;
    margin-top: 0.05rem;
    margin-right: 1rem;
}

.profile-ChangeBtn {
    padding: 0rem;
    border-width: 0rem;

    color: #f0f7f4 !important;
}

.profile-ChangeBtn .btn{
    color: #ace0ff !important;
    text-decoration: underline !important;
}